# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
data/*
!data/.gitkeep
!data/test_case.csv

!data/sample_data/
!data/sample_data/*

# Snakemake
.snakemake/
*.snakemake.log
# Exclude Snakemake-generated temp and log files
*.snakemake.timestamp
# Exclude Snakemake-generated scripts
.snakejob.*
# Exclude Snakemake-generated DAG and report files
dag.dot
report.html
# Exclude Snakemake shadow directories
.shadow/
/.shadow_*
# Exclude Snakemake lock files
.snakefile.lock
src/generate_sample_data.py
src/phecode_enrichment_preprocessing.py
src/figure_plotting_AN_paper.py
notebooks/

# Other
/writing/
